<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nemalyze</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Roboto, Ubuntu, sans-serif;
      }

      body {
        background: #F0F0F0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
      }

      .mt-5 {
        margin-top: 20px;
      }

      h1 {
        text-align: center;
        margin-bottom: 20px;
        font-family: Ubuntu, Roboto, sans-serif;;
      }
      .navbar {
        background-color: #30AD23;
        color: #FFF;
        display: flex;
        align-items: center;
        height: 7vh;
        margin: 0;
      }

      h3 {
        margin: 0;
      }

      .form-container{
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      main.container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 88vh;
      }
      
      .page-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5vh;
        background-color: #242424;
      }

      .page-footer div {
        height: 100%;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <h3>Nemalyze</h3>
      </div>
    </nav>
    <main class="container">
      <h1>Bem vindo ao Nemalyze!</h1>
      <h5>Escolha uma foto</h5>

      <form class="form-container" method="POST" action="{{ url_for('index') }}"  enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-5">Realizar Análise</button>
      </form>
    </main>

    <footer class="page-footer font-small blue">
      <div>
        Nemalyze@2020
      </div>
    </footer>
  </body>
</html>